<div class="row mt-5">
    <div class="col text-center">
      <div class="block-27">
          <ul>
              {% if page_obj.has_previous %}
                  <li><a href="?q={{ q }}&page={{ page_obj.previous_page_number }}">&lt;</a></li>
              {% endif %}
          
              {% for page in page_obj.paginator.page_range %}
              {% if page_obj.number == page %}
                  <li class="active"><a href="?q={{ q }}&page={{ page }}">{{ page }}</a></li>
              {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
                  <li><a href="?q={{ q }}&page={{ page }}">{{ page }}</a></li>
              {% endif %}
              {% endfor %}
          
              {% if page_obj.has_next %}
                  <li><a href="?q={{ q }}&page={{ page_obj.next_page_number }}">&gt;</a></li>
              {% endif %}  
          </ul>
      </div>
    </div>
  </div>