{% extends "base.html" %}
{% load food_tag %}
{% block content %}


    <section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/bg_4.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Lifestyle</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Lifestyle <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>


    <section class="ftco-section">
    	<div class="container">
        <div class="row">
        	<div class="col-lg-9">
        		<div class="row">
					{% for life in food_list %}
    					<div class="col-md-6 col-lg-12 ftco-animate">
    						<div class="blog-entry d-lg-flex">
    							<div class="half">
			    					<a href="single.html" class="img d-flex align-items-end" style="background-image: url({{ life.image.url }});">
			    						<div class="overlay"></div>
				    				</a>
			    				</div>
			    				<div class="text px-md-4 px-lg-5 half pt-3">
	    							<p class="meta d-flex"><span class="pr-3">{{ life.category }}</span><span class="ml-auto pl-3">{{ food.create_at|date:'F m, Y' }}</span></p>
	    							<h3><a href="{{ life.get_absolute_url }}">{{ life.title }}</a></h3>
	    							<p>{{ life.description|truncatewords:'30'|safe }}</p>

	    							<p class="mb-0"><a href="single.html" class="btn btn-primary">Read More <span class="icon-arrow_forward ml-4"></span></a></p>
							</div>
		    				</div>
    					</div>{% endfor %}
        		</div>
				
				{% include 'include/paginate_by.html' %}
        	</div>
			<div class="col-lg-3">
				
        	{% include 'include/about_me.html' %}


			{% include 'lifestyle/include/life_style_search.html' %}
		</div>
			{% get_categories_photo count=2 %}
        	</div>
		</div>
        </div>
    	</div>
    </section>

		
		<section class="ftco-subscribe ftco-section bg-light">
      <div class="overlay">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-8 text-wrap text-center heading-section ftco-animate">
            </div>
          </div>
        </div>
      </div>
    </section>


    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


{% endblock content %}